<div class="one">
  <span class="name">
    <b> Login </b>
  </span> 
  <br> 
  <br>
  <div class="border">
    <form action="/php/session.php" method="post">
      <div class="three_big">
        <span> User Email </span> <br>  
        <input type="text" name="email"> <br>
        <span> Password </span> <br> 
        <input type="password" name="password">
        <br> 
        <span class="message"> {$message} </span> 
        <br>
        <input class="up" type="submit" value="Enter">
      </div>
    </form>
  </div>
</div>